config INPUT_EGISTEC_FPS
	tristate "Egistec fingerprint sensor MMI"
	default n
	help
	 Say Y here if you wish to include support for MMI EGIS finger print sensor.
	 If unsure, say N.

config INPUT_EGISTEC_FPS_NAVI
	bool "Egistec fingerprint sensor MMI navigation support"
        depends on INPUT_EGISTEC_FPS
	default n
	help
	 Say Y here if you wish to include support for MMI EGIS finger print sensor
         navigation functions.
	 If unsure, say N.

config INPUT_EGISTEC_FPS_NAVI_VERTICAL
	bool "Egistec fingerprint sensor MMI navigation vertical support"
        depends on INPUT_EGISTEC_FPS_NAVI
	default n
	help
	 Say Y here if you wish to include support for MMI EGIS finger print sensor
         vertical navigation functions.
	 If unsure, say N.

config INPUT_EGISTEC_FPS_NAVI_HORIZON
	bool "Egistec fingerprint sensor MMI navigation horizon support"
        depends on INPUT_EGISTEC_FPS_NAVI
	default n
	help
	 Say Y here if you wish to include support for MMI EGIS finger print sensor
         horizon navigation functions.
	 If unsure, say N.

config NAV_DOUBLE_TAP
        bool "Egistec fingerprint sensor MMI double click support"
        depends on INPUT_EGISTEC_FPS
        default n
        help
         Say Y here if you wish to include support for MMI EGIS finger print sensor
         double click functions.
