config BQ2597X_MMI_IIO_CHARGER
        tristate "BQ2597X MMI IIO Charger"
        default n
        help
         Say Y here if you have a bq2597x compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called bq2597x_mmi_iio.
