config LDO_VIBRATOR_MMI
        tristate "LDO Vibrator driver"
        default n
        help
         Say Y here if you have a ldo vibrator mmi compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called ldo_vibrator_mmi.
